fastapi==0.115.0
uvicorn==0.31.0
PyPDF2==3.0.1
sentence-transformers==2.2.2
faiss-cpu==1.8.0
requests==2.32.3
pydantic==2.9.2
sqlmodel==0.0.22
asyncpg==0.30.0
alembic==1.13.3
python-jose[cryptography]==3.3.0
python-dotenv==1.0.1
slowapi==0.1.9
torch==1.13.1 --index-url https://download.pytorch.org/whl/cpu
memory_profiler==0.61.0
psutil==5.9.8
python-multipart==0.0.9